---
import GitHub from "./icons/GitHub.astro"
import Quasar from "./icons/Quasar.astro"
import Vue from "./icons/Vue.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  QUASAR: {
    name: "Quasar",
    class: "bg-[#7a95ff]  text-white",
    icon: Quasar,
  },
    VUE: {
      name: "Vue",
      class: "bg-[#42b883] text-white",
      icon: Vue,
    },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "ChatQuasar - Chat en vivo!",
    description:
      "Un chat desarrollado con lo último de Vue (Quasar). Multiples usuarios pueden conversar en el mismo chat. Logueo y autenticación con Gmail y Firebase. Creado desde cero con Quasar.",
    link: "https://chatquasar-36f6f.web.app/",
    github: "https://github.com/NIPIO/Chat-Quasar-Firebase",
    image: "/projects/Chat.PNG",
    tags: [TAGS.QUASAR, TAGS.VUE, TAGS.TAILWIND],
  },
  {
    title: "App de Clima",
    description:
      "Aplicación conectada a dos Apis (una de ciudades, otra de clima) para consultar el clima actual, diario y semanal. Desarrollada con historial de búsqueda. Creada desde cero con Vue y Tailwind CSS.",
    link: "https://weather-app-with-vue-and-tailwind.vercel.app/",
    github: "https://github.com/NIPIO/Weather-App-With-Vue-And-Tailwind",
    image: "/projects/Weather.png",
    tags: [TAGS.TAILWIND, TAGS.VUE],
  },
]
---

<div class="flex flex-col gap-y-16 mt-6">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>